.user-date__header {
    text-align: center;
}

/* 検索フォーム */
.user__search-form {
    width: 70%;
    margin: 32px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.search-form__input {
    border: 1px solid #cfcdcd;
    border-radius: 3px;
    padding: 8px 16px;
}

.id-input {
    min-width: 190px;
}

.keyword-input {
    min-width: 340px;
}

.search-form__attendance {
    position: relative;
    min-width: 200px;
}

.attendance-select {
    width: 100%;
}

.search-form__actions {
    display: flex;
    gap: 16px;
}

.btn {
    border-radius: 3px;
    padding: 8px 20px;
}

.search-form__search-btn {
    background-color: #3aadf0;
    transition: .3s;
}

.search-form__search-btn:hover,
.search-form__reset-btn:hover {
    opacity: .8;
}

.search-form__reset-btn {
    background-color: #f09b3a;
    transition: .3s;
}

.search-form__attendance::after {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    border-top: 10px solid #848280;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    transform: translateY(-50%);
}


/* ---テーブル--- */
.user-table__container {
    margin: 48px auto 0;
    width: 90%;
    white-space: nowrap;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table__header,
.user-table__item {
    padding: 12px 18px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}

.user-table__header:first-of-type,
.user-table__item:first-of-type {
    width: 8%;
    padding-left: 28px;
}

.user-table__header:nth-child(2),
.user-table__item:nth-child(2) {
    width: 8%;
}

.user-table__header:nth-child(3),
.user-table__item:nth-child(3) {
    width: 20%;
}

.user-table__header:last-of-type,
.user-table__item:last-of-type {
    width: 16%;
    padding-right: 28px;
    text-align: right;
}

.btn {
    display: inline-block;
    border-radius: 3px;
    padding: 8px 12px;
    transition: .3s;
}

.user__edit-btn {
    background-color: rgb(4, 154, 46);
    color: #000;
    margin-right: 8px;
}

.user__delete-btn {
    background-color: rgb(240, 87, 82);
    color: #fff;
}

.user__edit-btn:hover,
.user__delete-btn:hover {
    opacity: .8;
}

.pagination__group {
    margin-top: 32px;
}

.user-table__item-empty {
    text-align: center;
    padding: 32px 12px;
}

/* ---modal--- */
.modal-edit,
.modal-delete {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.modal-edit:target,
.modal-delete:target {
    visibility: visible;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.modal-edit__inner,
.modal-delete__inner {
    padding: 48px 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    border: 1px solid #333;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
    position: relative;
}

.modal__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 20px;
    color: #333;
}

.modal-edit__header {
    text-align: center;
}

.modal-edit__form {
    margin: 32px 0 auto;
}

.modal-edit__group {
    margin: 0 auto;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
}

.modal-edit__input {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px 16px;
}

.modal-edit__text {
    text-align: center;
}

.modal-edit__button {
    display: block;
    margin: 32px auto 0;
    background-color: rgb(4, 154, 46);
    border-radius: 3px;
    padding: 8px 16px;
}

.delete-btn {
    background-color: rgb(240, 87, 82);
    color: #fff;
}

@media screen and (max-width: 768px) {
    .user-table__container {
        overflow-x: scroll;
        width: 500px;
        height: 400px;
    }

    .user-table__container::-webkit-scrollbar {
        height: 5px;
    }

    .user-table__container::-webkit-scrollbar-track {
        background: #333;
    }

    .user-table__container::-webkit-scrollbar-thumb {
        background: #999;
    }

    .modal-edit__inner,
    .modal-delete__inner {
        padding: 32px 32px;
        width: 70%;
    }
}