body {
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 40px;
    grid-template-columns: 1fr;
}

a {
    text-decoration: none;
}

/* ---header--- */
.header {
    grid-row: 1/2;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__list {
    margin: 0;
}

.header-nav__item {
    list-style: none;
    display: inline-block;
}

.header-nav__item:not(:last-of-type) {
    margin-right: 24px;
}

.header-nav__link {
    color: #000;
    transition: .3s;
}

.header-nav__link:hover {
    color: darkgrey;
}

/* ---main--- */
.content {
    grid-row: 2/3;
    padding: 48px;
    background-color: #eee;
}

/* ---footer--- */
.footer {
    grid-row: 3/4;
    position: relative;
}

.footer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}