body {
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 40px;
    grid-template-columns: 1fr;
    font-family: "Noto Sans JP", sans-serif;
}

a {
    text-decoration: none;
}

/* ---header--- */
.header {
    grid-row: 1/2;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__item {
    list-style: none;
    display: inline-block;
}

.header-nav__item:not(:last-of-type) {
    margin-right: 24px;
}

.header-nav__link {
    color: #000;
    transition: .3s;
}

.header-nav__link:hover {
    color: darkgrey;
}

#drawer_toggle {
    display: none;
}

/* ---main--- */
.content {
    grid-row: 2/3;
    padding: 48px;
    background-color: #eee;
}

/* ---footer--- */
.footer {
    grid-row: 3/4;
    position: relative;
}

.footer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    border-left: 1px solid #b3d4e5;
    background-color: #fff;
}

.disabled {
    padding: 4px 12px;
}

.pagination li:last-child {
    border-right: 1px solid #b3d4e5;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #4f7eba;
    text-decoration: none;
    display: block;
    padding: 4px 12px;
}

.pagination__link {
    text-decoration: none;
}

.active {
    padding: 4px 12px;
    background-color: #4f7eba;
    color: #FFF;
}

@media screen and (max-width: 768px) {
    .header {
        position: relative;
    }

    #drawer_toggle {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 60px;
        height: 60px;
}

    #drawer_toggle span {
        position: absolute;
        top: 28px;
        right: 28px;
        display: inline-block;
        width: 30px;
        height: 3px;
        border-radius: 2px;
        background-color: #666;
        vertical-align: top;
        transition: .5s;
    }

    #drawer_toggle span:nth-child(2) {
        margin-top: 10px;
    }

    #drawer_toggle span:last-child {
        margin-top: 20px;
    }

    .header-right {
        position: fixed;
        top: 80px;
        width: 100vw;
        height: calc(100% - 80px);
        background: #fff;
        opacity: 0.9;
        display: block;
        right: -100%;
        transition: right .5s;
    }

    .sp_open {
        z-index: 2;
        position: fixed;
        top: 80px;
        width: 100%;
        height: calc(100% - 80px);
        background: #fff;
        opacity: 0.9;
        display: block;
        right: 0;
    }

    .header-nav__list {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header-nav__item {
        display: block;
        padding: 25px;
        margin: 0;
    }

    .header-nav__link {
        color: #666;
        text-align: center;
    }

    #drawer_toggle.open span {
        top: 40px;
        right: 28px;
        width: 35px;
        margin: 0;
    }

    #drawer_toggle.open span:first-child {
        transform: rotate(45deg);
        transition: .5s;
    }

    #drawer_toggle.open span:nth-child(2) {
        display: none;
    }

    #drawer_toggle.open span:last-child {
        transform: rotate(-45deg);
        transition: .5s;
    }
}