body {
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 40px;
    grid-template-columns: 1fr;
    font-family: "Noto Sans JP", sans-serif;
}

a {
    text-decoration: none;
}

/* ---header--- */
.header {
    grid-row: 1/2;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__item {
    list-style: none;
    display: inline-block;
}

.header-nav__item:not(:last-of-type) {
    margin-right: 24px;
}

.header-nav__link {
    color: #000;
    transition: .3s;
}

.header-nav__link:hover {
    color: darkgrey;
}

/* ---main--- */
.content {
    grid-row: 2/3;
    padding: 48px;
    background-color: #eee;
}

/* ---footer--- */
.footer {
    grid-row: 3/4;
    position: relative;
}

.footer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    border-left: 1px solid #b3d4e5;
    background-color: #fff;
}

.disabled {
    padding: 4px 12px;
}

.pagination li:last-child {
    border-right: 1px solid #b3d4e5;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #4f7eba;
    text-decoration: none;
    display: block;
    padding: 4px 12px;
}

.pagination__link {
    text-decoration: none;
}

.active {
    padding: 4px 12px;
    background-color: #4f7eba;
    color: #FFF;
}